/* For firefox main */
:root {
    --primary-color: rgba(0, 0, 0, 0.4);
}

.showcase {
    background: var(--primary-color);
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

body:nth-of-type(1){
    background-color: #333;
}


.showcase:before {
    content: '';
    background: url('../files/smoke.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

/* End of firefox main */

/* Set a background color */
body {
    font-family: Helvetica, sans-serif;
    background: var(--primary-color);
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.containerTime {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containerTime::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: -4px;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* .container{
      max-width: 75%;
  } */

body,
html {
    width: 100%;
    height: 100%;
}

.contact {
    position: absolute;
    left: 18%;
    right: 18%;
    padding: 4%;
    color: white;
    text-align: center;
}

.home {
    overflow: hidden;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa,
.fab,
.far,
.fas {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
    width: 200px;
    overflow: visible;
}

.top-icons {
    display: none;
}

/* Mobile pages */
@media (max-width: 480px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        font-size: 2.3vh;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .showcase:before {
        content: '';
        background: url('../files/smokeMobile.jpg') no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .main-menu {
        display: none;
    }

    .html,
    .body,
    .home {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    .header {
        background-color: #333;
        height: 70px;
    }

    .about {
        position: relative;
        color: white;
        text-align: center;
        top: 45px;
    }

    .top-icons {
        z-index: 11;
        background: #333;
        display: block;
        position: fixed;
        top: 0px;
        padding-top: 5px;
        max-height: 50px;
        right: 0px;
        left: 0px;
        text-align: center;
    }

    .fa,
    .fab,
    .far,
    .fas {
        top: 5px;
    }


    .contact {
        top: 25px;
        position: absolute;
        left: 1%;
        right: 1%;
        color: white;
        text-align: center;
    }

    p and .container {
        font-size: 1.5vh;
        font-family: 'Arvo', serif;
    }
}

p {
    font-size: 1.7vh;
}

.main-menu {
    background: #212121;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    overflow: hidden;
}

.main-menu>ul {
    position: relative;
    top: 32%;
    margin: 7px 0;
    vertical-align: middle;
}

.main-menu li {
    line-height: 5rem;
    position: relative;
    display: block;
    width: 200px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    /* font-family: arial; */
    font-size: 16px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 160px;
    /* font-family: 'Titillium Web', sans-serif; */
    font-weight: bold;
}

hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
}

h1 {
    /* text-transform: uppercase; */
    margin: 2%;
    font-size: 4.5vh;
    font-family: 'Arvo', serif;
    white-space: nowrap;
}

h2 {
    font-size: 2.2vh;
}

p and .container {
    font-size: 1.7vh;
    font-family: 'Arvo', serif;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.about {
    position: relative;
    color: white;
    text-align: center;
}

.work-wrapper {
    position: relative;
}

.work-wrapper:after {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 0;
    left: -51px;
    width: 2px;
    background: #B40000;
}

.work-wrapper .work {
    position: relative;
}

.work-wrapper .work:after {
    content: '';
    position: relative;
    top: 8px;
    left: -58px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 0 8px rgba(255, 171, 0, .4);
}


.margin-t-10 {
    margin-top: 10px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-tb-15 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.font-yellow {
    color: #fff;
}

.font-semi-white {
    color: #ddd;
}

.font-lite-black {
    color: #999;
}