body:nth-of-type(1), canvas {
    background-color: #333;
}

html, body {
    background-color: #333;
}

.work-wrapper:after {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 0;
    left: -51px;
    width: 2px;
    background: #fff;
}

